# Segmenting and Clustering Neighborhood in Toronto

## 1. Import Libraries

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print("Libraries imported.")

Libraries imported.

## 2.Scrap data from Wikipedia page into a DataFrame

In [3]:
# send the GET request
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

In [4]:
# parse data from the html into a beautifulsoup object
soup = BeautifulSoup(data, 'html.parser')

In [9]:
# create three lists to store table data
postalCodeList = []
boroughList = []
neighborhoodList = []

# append the data into the respective lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text.rstrip('\n'))
        boroughList.append(cells[1].text.rstrip('\n'))
        neighborhoodList.append(cells[2].text.rstrip('\n')) # avoid new lines in neighborhood cell

In [10]:
# create a new DataFrame from the three lists
toronto_df = pd.DataFrame({"PostalCode": postalCodeList,
                           "Borough": boroughList,
                           "Neighborhood": neighborhoodList})

toronto_df.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

## 3. Drop entries whose Borough ="Not assigned"

In [11]:
# drop cells with a borough that is Not assigned
toronto_df_dropna = toronto_df[toronto_df.Borough != "Not assigned"].reset_index(drop=True)
toronto_df_dropna.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

## 4. Group neighborhoods with the same Borough

In [13]:
toronto_df_grouped=toronto_df_dropna.groupby(['Borough','PostalCode'],as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head()

           Borough PostalCode                  Neighborhood
0  Central Toronto        M4N                 Lawrence Park
1  Central Toronto        M4P              Davisville North
2  Central Toronto        M4R            North Toronto West
3  Central Toronto        M4S                    Davisville
4  Central Toronto        M4T  Moore Park / Summerhill East

## 5. Replace backslash with comma

In [19]:
toronto_df_grouped['Neighborhood']=[n.replace(" /",", ") for n in toronto_df_grouped['Neighborhood']]
toronto_df_grouped.head()

           Borough PostalCode                   Neighborhood
0  Central Toronto        M4N                  Lawrence Park
1  Central Toronto        M4P               Davisville North
2  Central Toronto        M4R             North Toronto West
3  Central Toronto        M4S                     Davisville
4  Central Toronto        M4T  Moore Park ,  Summerhill East

## 6. For Neighborhood="Not assigned", replace with the same value in Borough

In [34]:
# count replacement actions
count=0
# iterate the dataset
for index, row in toronto_df_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        count=count+1
toronto_df_grouped.head()                
#count

           Borough PostalCode                   Neighborhood
0  Central Toronto        M4N                  Lawrence Park
1  Central Toronto        M4P               Davisville North
2  Central Toronto        M4R             North Toronto West
3  Central Toronto        M4S                     Davisville
4  Central Toronto        M4T  Moore Park ,  Summerhill East

## 7. Print number of rows of cleaned

In [35]:
toronto_df_grouped.shape
# (103,3) there're 103 rows

(103, 3)

## 8. Load longitude and latitude dataset from Coursera

In [36]:
coordinates = pd.read_csv("Geospatial_Coordinates.csv")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [37]:
# rename the column to PostalCode
coordinates.rename(columns={"Postal Code": "PostalCode"},inplace=True)
coordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

## 9. Merge two tables to get the coordinates

In [38]:
# merge two tables on the column PostalCode
toronto_df_new=toronto_df_grouped.merge(coordinates,on="PostalCode",how="left")
toronto_df_new.head()

,Borough,PostalCode,Neighborhood,Latitude,Longitude
0,Central Toronto,M4N,Lawrence Park,43.728020,-79.388790
1,Central Toronto,M4P,Davisville North,43.712751,-79.390197
2,Central Toronto,M4R,North Toronto West,43.715383,-79.405678
3,Central Toronto,M4S,Davisville,43.704324,-79.388790
4,Central Toronto,M4T,"Moore Park , Summerhill East",43.689574,-79.383160